{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




	

<div class="breac_crumbs">
	<a href="">首頁</a> >  <p>檢索結果</p>
</div>






<div class="detail">
	<div class="detail_title">
		<h4>乾隆8年張德立典契</h4>	
	</div>
	<div class="detail_description">
		<div class="detail_list">
			<div class="detail-th">題名</div>	
			<div class="detail-td"><p>乾隆8年張德立典契</p></div>	
		</div>
		<div class="detail_list">
			<div class="detail-th">創作者</div>	
			<div class="detail-td"><p>野口彥次郎繕寫</p></div>	
		</div>
		<div class="detail_list">
			<div class="detail-th">主題與關鍵字</div>	
			<div class="detail-td"><p>藏品類型：文書 </BR>
									相關族群：閩 </BR>
									契約分類：典契 </BR>
									商號/家號：蘓宅	</p></div>	
		</div>		
		<div class="detail_list">
			<div class="detail-th">描述</div>	
			<div class="detail-td"><p>全文：
立典契人張德，有承祖業瓦厝壹座，壹落帶前後曠地並連伙食間壹間，住在馬兵營前南畔第叁間，坐東向西，東至竹腳為界，西至自己店後滴水為界，南至自己壁為界，北至葉家壁腳為界，四至明白向為界，其出入由前面自己巷出入，閣玖尺不得多爭，今因乏銀費用，托中引就與蘓宅三面言議，典出清銀拾弍兩廣足，其銀即日憑中收訖，其厝即付銀主前去掌管居住，保此厝果係承祖業，亦無重張典掛他人財物為礙，如有等情或有房親叔兄弟姪阻當，德出頭抵當，不干銀主之事，其厝如被風雨損壞破隙地震傾頹水火不虞，起盖乏銀對半均分，如典主恐乏銀修理起盖，聽銀主起盖修理不得阻當，其厝限至弍年終，如有修整延盖費用，銀兩等明白取續，原契如銀未便不在此限，銀主依舊掌管居住，倘限滿或轉典或出稅，先盡典主聽憑，銀主不得阻當，其歷年地租亦係對半完納，言約其典厝連地以及門窻戶扇浮沈碍石地基等項齊全付交銀主掌收，此係二比甘愿，各無反悔異言，今欲有憑立典契壹帋為炤。 
即日收過契內清銀臺拾弍兩完足再炤 </BR>
為中人陳協叔 </BR>
立典契人張德 </BR>
知見人方妙兄 </BR>
乾隆捌年伍月日
</p></div>	
		</div>

		<div class="detail_list">
			<div class="detail-th">出版者</div>	
			<div class="detail-td"><p></p></div>	
		</div>
		<div class="detail_list">
			<div class="detail-th">貢獻者</div>	
			<div class="detail-td"><p>關係人：陳協、方妙</p></div>	
		</div>
		<div class="detail_list">
			<div class="detail-th">日期</div>	
			<div class="detail-td"><p>立契日期(西元) ：1743 </BR>
						立契時間：乾隆8年5月日 
</p></div>	
		</div>		
		<div class="detail_list">
			<div class="detail-th">資源類型</div>	
			<div class="detail-td"><p></p></div>	
		</div>
			<div class="detail_list">
			<div class="detail-th">格式</div>	
			<div class="detail-td"><p></p></div>	
		</div>
			<div class="detail_list">
			<div class="detail-th">資源識別</div>	
			<div class="detail-td"><p>典藏編號：A311110000F=1743=070704=01=001=001=0001</p></div>	
		</div>
			<div class="detail_list">
			<div class="detail-th">來源</div>	
			<div class="detail-td"><p></p></div>	
		</div>
			<div class="detail_list">
			<div class="detail-th">語言</div>	
			<div class="detail-td"><p>中文</p></div>	
		</div>
			<div class="detail_list">
			<div class="detail-th">關連</div>	
			<div class="detail-td"><p>全宗名：臺南監獄文書</p></div>	
		</div>
		<div class="detail_list">
			<div class="detail-th">涵蓋範圍</div>	
			<div class="detail-td"><p>契約地點-古地名：馬兵營</BR>
契約地點-今地名：臺南市中西區聖前里
</p></div>	
		</div>
		<div class="detail_list">
			<div class="detail-th">管理權</div>	
			<div class="detail-td"><p></p></div>	
		</div>
	
	</div>

	<div class="detail_photos">
		<div class="bigphoto">
			<div class="mainphoto">
				<ul class="bxslider_1">	 
				   <li><img src="img/ttt_03.jpg" alt=""></li>
				   <li><img src="img/ttt_03.jpg" alt=""></li>
				   <li><img src="img/ttt_03.jpg" alt=""></li>
				   <li><img src="img/ttt_03.jpg" alt=""></li>
				   <li><img src="img/ttt_03.jpg" alt=""></li>
				</ul>
			</div>
			<div class="bx-pager_1">
			  <a data-slide-index="0" href=""><img src="img/ttt_01.jpg" alt=""></a>
			  <a data-slide-index="1" href=""><img src="img/ttt_02.jpg" alt=""></a>
			  <a data-slide-index="2" href=""><img src="img/ttt_03.jpg" alt=""></a>
			  <a data-slide-index="0" href=""><img src="img/ttt_01.jpg" alt=""></a>
			  <a data-slide-index="1" href=""><img src="img/ttt_02.jpg" alt=""></a>	
			</div>
		</div>
		<a href="#" class="apply-authorization">加入收藏</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#" class="apply-authorization">我要申請數位影像授權</a>
	</div>
	
	<div class="detail_map">
		
	</div>
</div>







{% endblock %}