{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}






<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">台灣記憶</a> > <p>檢索結果</p>
</div>




<div class="search_content">
	<!-- after_classification -->

	<div class="after_classification">

		<div class="search_memo">
			<h5>獨木舟</h5>
			<h6> <i class="fa fa-tag" aria-hidden="true"></i> 共 89 筆</h6>
		</div>


		<div class="filter">
				<div class="f-data-on">一般檢視</div>
				<div class="f-data">時間檢視</div>
				<div class="f-data">空間檢視</div>
				<div class="f-data">詞頻分析</div>
		</div>

		<div class="datatype">
			<div class="switch">
				<i class="fa fa-plus-circle" aria-hidden="true"></i>
			</div>
			<div class="categroyLeft">
				<i class="fa fa-minus-circle" aria-hidden="true"></i>篩選全宗名
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
		</div>

		<div class="datatype">
			<div class="switch">
				<i class="fa fa-plus-circle" aria-hidden="true"></i>
			</div>
			<div class="categroyLeft">
				<i class="fa fa-minus-circle" aria-hidden="true"></i>篩選歷史分期
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-康熙 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-雍正 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-乾隆 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-嘉慶 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-康熙 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-雍正 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-乾隆 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-嘉慶 (39)</p>
			</div>
			<a href="" class="c-btn">篩選</a>
		</div>

		<div class="datatype">
			<div class="switch">
				<i class="fa fa-plus-circle" aria-hidden="true"></i>
			</div>
			<h6>搜尋足跡</h6>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 麻豆 (23)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 田契 (31)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 找洗 (17)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 嘉義 (5)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 臺南 (9)</p>
			</div>

		</div>


	</div>



	<!-- result -->
	<div class="result">
		<!-- need_search -->
		<div class="need_search">
			<div class="select_item">

					<div class="selectCheckbox-list">
						<input type="checkbox" >
					</div>

					<div class="list">
						每頁
						<select name="" id="">
							<option value="1">10筆</option>
							<option value="2">30筆</option>
							<option value="3">50筆</option>
						</select>

					</div>
						<div class="sequence">
					排序
					<select name="" id="">
						<option value="1">依系統編號（遞增）</option>
						<option value="2">依系統編號（遞減）</option>
						<option value="3">依系統日期（遞增）</option>
						<option value="4">依檔案大小（遞增）</option>
					</select>
					</div>

					<div class="sequence ">
						呈現方式
						<select name="" id="">
							<option value="1">圖文顯示</option>
							<option value="2">列表顯示</option>
						</select>
					</div>

					<div class="listDownload">
						<a href="#popup_2" class="open-popup-link"><i class="fa fa-share" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-folder" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-download" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
				</div>

			</div>
			<div class="clear"></div>
		</div>



		<div class="result_item-list">
			<div class="selectCheckbox-list">
					<input type="checkbox" >
			</div>
			<div class="photo">

				<img src="img/pc-tp-A118-n.jpg" alt="">
			</div>
			<div class="descript_group">

				<div class="i-title">
					<h6> 1  > 嘉慶8年8月賴阿庛立杜賣園契字</h6>
				</div>
				<h5><i class="fa fa-tag" aria-hidden="true"></i> 麻豆陳家玉記廍書契</h5>
			<p>西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。......<a href="#" class="reading">繼續閱讀</a></p>
	</div>
		</div>
				<div class="result_item-list">
			<div class="selectCheckbox-list">
					<input type="checkbox" >
			</div>
			<div class="photo">

				<img src="img/pc-tp-A118-n.jpg" alt="">
			</div>
			<div class="descript_group">

				<div class="i-title">
					<h6> 1  > 嘉慶8年8月賴阿庛立杜賣園契字</h6>
				</div>

				<h5><i class="fa fa-tag" aria-hidden="true"></i> 麻豆陳家玉記廍書契</h5>
				<p>西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。......<a href="#" class="reading">繼續閱讀</a></p>
		</div>
		</div>
				<div class="result_item-list">
			<div class="selectCheckbox-list">
					<input type="checkbox" >
			</div>
			<div class="photo">

				<img src="img/pc-tp-A118-n.jpg" alt="">
			</div>
			<div class="descript_group">

				<div class="i-title">
					<h6> 1  > 嘉慶8年8月賴阿庛立杜賣園契字</h6>
				</div>
				<h5><i class="fa fa-tag" aria-hidden="true"></i> 麻豆陳家玉記廍書契</h5>
				<p>西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。......<a href="#" class="reading">繼續閱讀</a></p>
		</div>
		</div>
				<div class="result_item-list">
			<div class="selectCheckbox-list">
					<input type="checkbox" >
			</div>
			<div class="photo">

				<img src="img/pc-tp-A118-n.jpg" alt="">
			</div>
			<div class="descript_group">

				<div class="i-title">
					<h6> 1  > 嘉慶8年8月賴阿庛立杜賣園契字</h6>
				</div>
				<h5><i class="fa fa-tag" aria-hidden="true"></i> 麻豆陳家玉記廍書契</h5>
				<p>西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。......<a href="#" class="reading">繼續閱讀</a></p>
		</div>
		</div>
				<div class="result_item-list">
			<div class="selectCheckbox-list">
					<input type="checkbox" >
			</div>
			<div class="photo">

				<img src="img/pc-tp-A118-n.jpg" alt="">
			</div>
			<div class="descript_group">

				<div class="i-title">
					<h6> 1  > 嘉慶8年8月賴阿庛立杜賣園契字</h6>
				</div>
				<h5><i class="fa fa-tag" aria-hidden="true"></i> 麻豆陳家玉記廍書契</h5>
				<p>西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。......<a href="#" class="reading">繼續閱讀</a></p>
		</div>
		</div>
				<div class="result_item-list">
			<div class="selectCheckbox-list">
					<input type="checkbox" >
			</div>
			<div class="photo">

				<img src="img/pc-tp-A118-n.jpg" alt="">
			</div>
			<div class="descript_group">

				<div class="i-title">
					<h6> 1  > 嘉慶8年8月賴阿庛立杜賣園契字</h6>
				</div>
				<h5><i class="fa fa-tag" aria-hidden="true"></i> 麻豆陳家玉記廍書契</h5>
				<p>西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。西門町，在台灣通常是指台北市的西門町。域位於台北市萬華區東北方，要且國際化程度最高的消費商圈。......<a href="#" class="reading">繼續閱讀</a></p>
			</div>
		</div>








		<div class="clear"></div>

		<!-- pages -->
		<div class="pages">
			<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
			<a href="">1</a>
			<a href="">2</a>
			<a href="">3</a>
			<a href="">4</a>
			<a href="">5</a>
			<a href="">6</a>
			<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
		</div>

	</div>

</div>


{% endblock %}