{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="three_section">
	
	<!-- localmemo -->
	<div class="section_a">
		<div class="hottitle">
			<div class="tt-t">
				<div class="hoticon"><i class="fa fa-cube" aria-hidden="true"></i></div>
				<h4>地理分布</h4>
			</div>
		</div>
		<div class="newsvideo">
			<img src="img/map.png">
		</div>
	</div>

	<!-- newsvideo -->
	<div class="section_a">
		<div class="hottitle">
			<div class="tt-t">
				<div class="hoticon"><i class="fa fa-cube" aria-hidden="true"></i></div>
				<h4>全宗目錄瀏覽</h4>
			</div>
		</div>

		<div class="newsvideo">
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南林朝英家族書契
				</div>
			</div>

			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 嘉義鄭炎家族書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 麻豆陳家玉記廍書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南順興叢店書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 屏東內埔鍾家書契
				</div>
			</div>
			<div class="newsvideo_item">
		
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 嘉義水上庄信用組合書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 彰化馬芝遴地區書契
				</div>
			</div>
			<div class="newsvideo_item">
			
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南臺郡餉典書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南監獄用地書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南監獄用地書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南監獄用地書契
				</div>
			</div>
			
		
		</div>
	</div>

	<!-- todaycharacter -->
	<div class="section_a">
		<div class="hottitle">
			<div class="tt-t">
				<div class="hoticon">　</div>
				<h4>　</h4>
			</div>
		</div>
		<div class="newsvideo">
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南林朝英家族書契
				</div>
			</div>

			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 嘉義鄭炎家族書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 麻豆陳家玉記廍書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南順興叢店書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 屏東內埔鍾家書契
				</div>
			</div>
			<div class="newsvideo_item">
		
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 嘉義水上庄信用組合書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 彰化馬芝遴地區書契
				</div>
			</div>
			<div class="newsvideo_item">
			
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南臺郡餉典書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南監獄用地書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南監獄用地書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南監獄用地書契
				</div>
			</div>
		</div>
	</div>
</div>


<!-- online_display -->

<div class="three_section">
	
	<!-- localmemo -->
	<div class="section_a">
		<div class="hottitle">
			<div class="tt-t">
				<div class="hoticon"><i class="fa fa-cube" aria-hidden="true"></i></div>
				<h4>地理分布</h4>
			</div>
		</div>
		<div class="newsvideo">
			<img src="img/map.png">
		</div>
	</div>

	<!-- newsvideo -->
	<div class="section_a">
		<div class="hottitle">
			<div class="tt-t">
				<div class="hoticon"><i class="fa fa-cube" aria-hidden="true"></i></div>
				<h4>全宗目錄瀏覽</h4>
			</div>
		</div>

		<div class="newsvideo">
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南林朝英家族書契
				</div>
			</div>

			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 嘉義鄭炎家族書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 麻豆陳家玉記廍書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南順興叢店書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 屏東內埔鍾家書契
				</div>
			</div>
			<div class="newsvideo_item">
		
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 嘉義水上庄信用組合書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 彰化馬芝遴地區書契
				</div>
			</div>
			<div class="newsvideo_item">
			
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南臺郡餉典書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南監獄用地書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南監獄用地書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南監獄用地書契
				</div>
			</div>
			
		
		</div>
	</div>

	<!-- todaycharacter -->
	<div class="section_a">
		<div class="hottitle">
			<div class="tt-t">
				<div class="hoticon">　</div>
				<h4>　</h4>
			</div>
		</div>
		<div class="newsvideo">
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南林朝英家族書契
				</div>
			</div>

			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 嘉義鄭炎家族書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 麻豆陳家玉記廍書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南順興叢店書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 屏東內埔鍾家書契
				</div>
			</div>
			<div class="newsvideo_item">
		
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 嘉義水上庄信用組合書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 彰化馬芝遴地區書契
				</div>
			</div>
			<div class="newsvideo_item">
			
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南臺郡餉典書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南監獄用地書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南監獄用地書契
				</div>
			</div>
			<div class="newsvideo_item">
				
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 臺南監獄用地書契
				</div>
			</div>
		</div>
	</div>

</div>


<div class="three_section">
	<div class="section_a">
		<div class="hottitle">
			<div class="tt-t">
				<div class="hoticon"><i class="fa fa-plus-square" aria-hidden="true"></i></div>
				<h4>更新日程</h4>
			</div>
		</div>

		<div class="newsvideo">
			<div class="newsvideo_item">
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 2017-01-01 臺南林朝英家族書契
				</div>
			</div>
				<div class="newsvideo_item">
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 2017-01-01 臺南林朝英家族書契
				</div>
			</div>
			<div class="newsvideo_item">
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 2017-01-01 臺南林朝英家族書契
				</div>
			</div>
			<div class="newsvideo_item">
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 2017-01-01 臺南林朝英家族書契
				</div>
			</div>
			<div class="newsvideo_item">
				<div class="newsvideo_descript">
					<i class="fa fa-book" aria-hidden="true"></i> 2017-01-01 臺南林朝英家族書契
				</div>
			</div>

			
		
		</div>
	</div>
	
	<div class="section_b">
		<div class="hottitle">
			<div class="tt-t">
				<div class="hoticon"><i class="fa fa-cube" aria-hidden="true"></i></div>
				<h4>資料庫介紹</h4>
			</div>
		</div>
		<p>臺史博是專責保存臺灣歷史文化遺產的機構，除保存臺灣歷史文物的使命外，更重要的是將藏品與全民分享。對此，臺史博在經歷多年籌備至今已有10萬餘件藏品，並透過研究、展示、出版以及數位化等途徑，將此豐富資源，與全民共享。
		</BR></BR>蒐藏策略上，依據本館三大核心計畫：「臺灣涉外關係史」、「臺灣族群互動史」、「臺灣現代化發展史」，進行史料及文物的調查研究及蒐藏。蒐藏範圍包括可以呈現臺灣多元族群、多元文化和生活樣貌之文物，以及具有歷史研究價值之文物、文獻史料。同時，也積極與國內的收藏家及相關典藏機構建立藏品資源分享與合作關係，並系統性地進行國際與臺灣相關之史料及文物的調查蒐集與複製，逐步建立館藏特色。</p>
	</div>
</div>



{% endblock %}