{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



<!-- <div class="search_section">
	<div class="search_item">
		<div class="search_go">
			<input type="text">
			<div class="serach_icon"><i class="fa fa-search" aria-hidden="true"></i></div>
		</div>
		<p>這是一個很長很長的故事......</p>
	</div>
</div>
	 -->

<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">一般檢視</a> > <p>檢索結果</p>
</div>





<div class="search_content">
	<!-- after_classification -->

	<div class="after_classification">

		<div class="search_memo">
			<h5>田契</h5>
			<h6> <i class="fa fa-tag" aria-hidden="true"></i> 共 89 筆</h6>
		</div>

	
		<div class="filter">
				<div class="f-data">一般檢視</div>
				<div class="f-data">時間檢視</div>
				<div class="f-data-on">空間檢視</div>
				<div class="f-data">詞頻分析</div>
		</div>

		<div class="datatype">
			<div class="switch">
				<i class="fa fa-plus-circle" aria-hidden="true"></i>
			</div>
			<div class="categroyLeft">
				<i class="fa fa-minus-circle" aria-hidden="true"></i>篩選全宗名 
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>臺南林朝英家族書契 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>嘉義鄭炎家族書契 (39)</p>
			</div>
		</div>	
		
		<div class="datatype">
			<div class="switch">
				<i class="fa fa-plus-circle" aria-hidden="true"></i>
			</div>
			<div class="categroyLeft">
				<i class="fa fa-minus-circle" aria-hidden="true"></i>篩選歷史分期 
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-康熙 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-雍正 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-乾隆 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-嘉慶 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-康熙 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-雍正 (39)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-乾隆 (23)</p>
			</div>
			<div class="checkdata">
				<input type="checkbox" >
				<p>清代-嘉慶 (39)</p>
			</div>
			<a href="" class="c-btn">篩選</a>
		</div>

		<div class="datatype">
			<div class="switch">
				<i class="fa fa-plus-circle" aria-hidden="true"></i>
			</div>
			<h6>搜尋足跡</h6>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 麻豆 (23)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 田契 (31)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 找洗 (17)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 嘉義 (5)</p>
			</div>
			<div class="checkdata">
				<p><i class="fa fa-search" aria-hidden="true"></i> 臺南 (9)</p>
			</div>

		</div>
		
		
	</div>



	<!-- result -->
	<div class="map_list_section">
		<div class="mapsqure"></div>
				
		<h6 style="margin-bottom:40px; color: #897b6f; font-size: 14px">註：地圖上的數字代表聚集在該區域的點位資料，當該區域的地圖尺度放大時，詳細的點位資料即可秀出。</h6>
		
		<div class="map_contnet">
			<div class="map_location">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<h5>台南</h5>
				<h6>共有 12 筆</h6>
			</div>
			<div class="map_event">
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：馬兵營</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：加老灣</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：溪仔漧</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：萬裕埤</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：萬裕埤</p>
						</div>
				</div>
			</div>
		</div>

		<div class="map_contnet">
			<div class="map_location">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<h5>高雄</h5>
				<h6>共有 12 筆</h6>
			</div>
			<div class="map_event">
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：萬裕埤</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：萬裕埤</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：萬裕埤</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：萬裕埤</p>
						</div>
				</div>
				
			</div>
		</div>

		<div class="map_contnet">
			<div class="map_location">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<h5>圓山</h5>
				<h6>共有 12 筆</h6>
			</div>
			<div class="map_event">
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：萬裕埤</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：萬裕埤</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：萬裕埤</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：萬裕埤</p>
						</div>
				</div>
				
			</div>
		</div>

		<div class="map_contnet">
			<div class="map_location">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<h5>社寮角</h5>
				<h6>共有 12 筆</h6>
			</div>
			<div class="map_event">
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：萬裕埤</p>
						</div>
				</div>
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：萬裕埤</p>
						</div>
				</div>
		
				<div class="map_item">
					<img src="img/ttt_03.jpg" alt="">
						<div class="t-text">
							<h6>嘉慶8年8月賴阿庛立杜賣園契字</h6>
							<p>古地名：萬裕埤</p>
						</div>
				</div>
				
			</div>
		</div>
		







		<!-- page -->
		<div class="pages">
			<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
			<a href="">1</a>
			<a href="">2</a>
			<a href="">3</a>
			<a href="">4</a>
			<a href="">5</a>
			<a href="">6</a>
			<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
		</div>
	</div>

	

</div>


{% endblock %}